<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/client.css">
</head>

<body>
    <header id="banner">
        {% block banner %} {% endblock %}
    </header>
    <main>
        {% block main %} {% endblock %}
    </main>
</body>

</html>