header#banner{
    position: fixed;
    margin: 0 auto;
    width: 90%;
    height: 10%;
    background-color: #A49BA2;
}

main {
    position: absolute;
    top: 10%;
    background-color: #F4F5EF;
    width: 90%;
    height: 90%;
    left: 50%;
    margin-left: -45%;
}